# {{ interface.name }}

## Definition

```txt
{{ interface.text }}
```

## This type uses

{% if interface.uses | length == 0 %}
None
{% endif %}
{% for msg in interface.uses %}
- [{{ msg.name }}](../../{{ msg.file }})
{% endfor %}

## This type is used by

{% if interface.used | length == 0 %}
None
{% endif %}
{% for msg in interface.used %}
- [{{ msg.name }}](../../{{ msg.file }})
{% endfor %}
